body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("https://i.imgur.com/qTIkugH.png");
}

section.board {
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(3, 10vmin);
    grid-template-columns: repeat(3, 10vmin);
    grid-gap: 0vmin;
    background-color: white;
    padding: 15px;
    border-radius: 10px;;
}

div {
    border: 3px solid black;
    font-size: 8vmin;
    text-align: center;
    vertical-align: middle;
}

h1 {
    margin: 100px auto 10px;
    text-align: center;
    font-family: 'Lobster', cursive;
}

h3 {
    margin: 10px auto 30px;
    text-align: center;
    font-family: 'Abel', sans-serif;
}

button {
    margin: 30px auto;
    font-family: 'Abel', sans-serif;
}

.x {
    background-image: url("https://i.imgur.com/V6tEAMT.png");
    background-position: center;
}

.o {
    background-image: url("https://i.imgur.com/SvkM9Iw.png");
    background-position: center;
}

#score {
    margin: 20px auto 0px;
}

#totalResults {
    margin: 10px auto 0px;
}

#resultTags {
    margin: 0px auto;
}